<section>
    <form action="categorie.php?action=create" method="POST" autocomplete="off">
        <fieldset>
            <legend>Nuova categoria</legend>
    
            <div class="form-group">
                <label for="poster">Poster</label>
                <input type="file" id="poster" name="poster" accept="image/jpeg,image/png" required="">
                [error_poster]
            </div>
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" id="name" name="text" required>
                [error_name]
            </div>
            <button type="submit" class="btn" id="btnSubmit">Crea</button>
        </fieldset>
    </form>
</section>