<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>Arte del Cocktail | Disclaimer</title>
    <meta name="description" content="Pagina di Errore 400">
    <meta name="author" content="Arte del Cocktail">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <script src="js/script.js"></script>
</head>

<body class="disclaimer">
    <header class="disclaimer-header">
        <h1>Arte del Cocktail</h1>
    </header>

    <main>
        <div class="container">
            <section>
                <p id="message">I prodotti presenti su questo sito sono destinati
                    esclusivamente ad un pubblico adulto e maggiorenne,
                    secondo le leggi vigenti nel paese di residenza.</p>
                <form method="post">
                    <p id="spid">Inserisci lo SPID per continuare a navigare sul sito.</p>
                    <!--  PROVA PULSANTE SPID -->
                    <button type="submit" name="accept" value="1"
                        class="italia-it-button italia-it-button-size-m button-spid" aria-haspopup="false">
                        <span class="italia-it-button-icon">
                            <img src="./img/spid-ico-circle-bb.svg" alt="Icona accettazione" />
                            <span class="italia-it-button-text">Accetto e continuo</span>
                        </span>
                    </button>
                    <!-- FINE PROVA-->
                </form>
                <p id="info">
                    Promuoviamo un consumo responsabile e moderato degli alcolici. L'abuso di bevande alcoliche è
                    dannoso per la salute. Vi invitiamo a consultare le linee guida del Ministero della Salute per
                    informazioni sui consumi raccomandati.
                    Non bere e guidare. Lo stato di ebbrezza alla guida è estremamente pericoloso per sé e per gli
                    altri ed è severamente punito dalla legge. Se bevete, designate un conducente sobrio o
                    utilizzate mezzi alternativi.
                    Il cliente è l'unico responsabile della verifica della propria idoneità al consumo di bevande
                    alcoliche, anche in relazione a condizioni di salute, gravidanza, allattamento o assunzione di
                    farmaci. Si consiglia di consultare un medico in caso di dubbi.
                    Scopri di più sul sito del <a
                        href="https://www.salute.gov.it/new/it/tema/alcol/i-danni-dellalcol/">Ministero Della
                        Salute</a>.
                </p>
        </div>
    </main>
</body>

</html>