[error]
<div class="row">
    <div class="drink-image">
        <img src="[poster]" alt="[name]">
    </div>
    <section class="drink-info">
        <h2>[name]</h2>
        [category]
        [actions]
        <p>
            [description]
        </p>
    </section>
</div>
<div class="row">
    <section class="drink-ingredients">
        <h3>Ingredienti</h3>
        <ul>
            [ingredients]
        </ul>
    </section>
    <section class="drink-prep">
        <h3>Preparazione</h3>
        <ol>
            [steps]
        </ol>
    </section>
</div>
<section>
    <h3>Recensioni</h3>
    <ul class="reviews">
        [reviews]
    </ul>
</section>