<section class="search-section">
    <h2>Cerca, scopri e perfeziona i migliori cocktail alcolici da tutto il mondo.</h2>
    <form action="esplora.php" method="GET" role="search">
        <input type="search" id="site-search" name="q" placeholder="Hai già in mente un drink? Trovalo in un attimo."
            autocomplete="off" aria-label="Campo per la ricerca di un drink">
        <button type="submit" class="search-btn" aria-label="Avvia ricerca">
            <span aria-hidden="true"><img src="img/search.svg" alt=""></span>
        </button>
    </form>
</section>
<section>
    <h2>I <span lang="en">cocktail</span> più amati</h2>
    <ul class="drink-list">
        [best_drinks]
    </ul>
</section>