<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title lang="it">[title]</title>
    <meta name="description" content="[description]">
    <meta name="keywords" content="[keywords]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/style-lg.css" media="screen and (max-width: 1200px)">
    <link rel="stylesheet" href="css/style-md.css" media="screen and (max-width: 768px)">
    <link rel="stylesheet" href="css/style-sm.css" media="screen and (max-width: 480px)">
    <link rel="stylesheet" href="css/style-print.css" media="print">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <script src="js/script.js" defer></script>
</head>

<body onload="onLoad()">
    <header>
        <h1>Arte del <span lang="en">Cocktail</span></h1>

        [navbar]
    </header>

    <nav id="breadcrumb" aria-label="Percorso di navigazione">
        <p>Ti trovi in: [breadcrumb]</p>
    </nav>

    <main>
        [content]

        <!-- <a href="#" id="backToTop">Torna su</a> -->
    </main>
</body>

</html>