<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title lang="it">Arte del Cocktail | Accesso e Registrazione</title>
    <meta name="description" content="Accedi o registrati per scoprire e creare fantastici cocktail">
    <meta name="keywords" content="login, registrazione, cocktail, drink, accesso, account">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/style-lg.css" media="screen and (max-width: 1200px)">
    <link rel="stylesheet" href="css/style-md.css" media="screen and (max-width: 768px)">
    <link rel="stylesheet" href="css/style-sm.css" media="screen and (max-width: 480px)">
    <link rel="stylesheet" href="css/style-print.css" media="print">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <script src="js/script.js" defer></script>
</head>

<body class="login-page [register_active_class]" onload="onLoad()">
    <main class="login-main-container">
        <div id="container" class="container [active_form_class]">
            <section class="box login">
                <form action="login.php[form_param]" method="POST">
                    <fieldset>
                        <legend><span lang="en">Form</span> di <span lang="en">Login</span></legend>
                        
                        <input type="hidden" name="action" value="login">
                        <h1 lang="en">Log-in</h1>

                        [error_login]

                        <div class="input">
                            <label for="login-username"><span lang="en">Username</span></label>
                            <input id="login-username" type="text" name="username" placeholder="Username"
                                value="[login_username]" required>
                            <img src="img/user-1.svg" alt="" aria-hidden="true">
                        </div>

                        <div class="input">
                            <label for="login-password"><span lang="en">Password</span></label>
                            <input id="login-password" type="password" name="password" placeholder="Password" required>
                            <img src="img/lock.svg" alt="" aria-hidden="true">
                        </div>

                        <button type="submit" class="btn" id="login-submit">Accedi</button>
                    </fieldset>
                </form>
            </section>
            <section class="box register">
                <form action="login.php" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        <legend><span lang="en">Form</span> di Registrazione</legend>
                        <input type="hidden" name="action" value="register">

                        <h1>Registrati</h1>

                        <div class="input">
                            <label for="reg-email">Email</label>
                            <input id="reg-email" type="email" name="email" placeholder="Email" value="[register_email]"
                                required>
                            <img src="img/mail.svg" alt="" aria-hidden="true">
                            [error_register_email]
                        </div>

                        <div class="input">
                            <label for="reg-username"><span lang="en">Username</span></label>
                            <input id="reg-username" type="text" name="username" placeholder="Username"
                                value="[register_username]" required>
                            <img src="img/user-1.svg" alt="" aria-hidden="true">
                            [error_register_username]
                        </div>

                        <div class="input">
                            <label for="reg-password"><span lang="en">Password</span></label>
                            <input id="reg-password" type="password" name="password" placeholder="Password" required>
                            <img src="img/lock.svg" alt="" aria-hidden="true">
                            [error_register_password]
                        </div>

                        <button type="submit" class="btn" id="reg-submit">Crea profilo</button>
                    </fieldset>
                </form>
            </section>
            <section class="curtain-box">
                <div class="curtain left">
                    <h2>Benvenutə!</h2>
                    <p>Non hai un <span lang="en">account</span>?</p>
                    <p>Nessun problema, crea un nuovo <span lang="en">account</span> ora!</p>
                    <button type="button" id="reg-btn" class="btn reg-btn" aria-label="Registrati"
                        [reg_btn_tabindex]>
                        Registrati
                    </button>
                </div>
                <div class="curtain right">
                    <h2>Bentornatə!</h2>
                    <p>Hai già un <span lang="en">account</span>?</p>
                    <p>Siamo felici di rivederti 😊</p>
                    <p>Accedi ora al tuo <span lang="en">account</span>:</p>
                    <button type="button" id="login-btn" class="btn login-btn" aria-label="Accedi al tuo account"
                        [login_btn_tabindex]>
                        Accedi
                    </button>
                </div>
            </section>
        </div>
    </main>
</body>

</html>