<section id="dati-utente" aria-labelledby="titolo-profilo">
    <h2 id="titolo-profilo">Profilo</h2>
    <div class="profile-card">
        <img class="profile-img" src="[picture]" alt="Immagine profilo di [Username]">
        <div class="profile-info">
            <dl>
                <dt id="username-label">Nome Utente:</dt>
                <dd id="username" aria-labelledby="username-label">[Username]</dd>
                <dt id="email-label">Email:</dt>
                <dd id="email" aria-labelledby="email-label">[Email]</dd>
                <dt id="bio-label">Bio:</dt>
                <dd id="bio" aria-labelledby="bio-label">[bio]</dd>
            </dl>
            [edit_button]
        </div>
    </div>
</section>

<section id="Preferiti" aria-labelledby="titolo-preferiti">
    <h3 id="titolo-preferiti">Drink preferiti</h3>
    [favorites_list]
</section>

<section id="Creazioni" aria-labelledby="titolo-creazioni">
    <h3 id="titolo-creazioni">Le [creations_pronom] creazioni</h3>
    [creations_list]
</section>