<li class="review">
    <div class="review-icon">
        <img src="img/user-icon.png" alt="">
    </div>
    <div class="review-body">
        <strong class="review-author">CiccioGamer89</strong>
        <span class="review-stars" style="--rating: [rating];" aria-label="La recensione di questo drink è [rating] su 5."></span>
        <p class="review-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem perferendis illo, adipisci
            iste
            repellendus nihil accusantium sit nobis voluptatibus architecto, libero, consequuntur odio.
            Expedita
            quas quos minus at veritatis pariatur.
        </p>
    </div>
</li>