@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf");
}

:root {
  --color-1: #edeaea;
  --color-2: #23022e;
  --color-3: #8b6fb5;
  --color-4: #360347;
  --color-5: #724dab;

  --text-color: var(--color-2);
  --bg-color-1: var(--color-2);
  --bg-color-2: var(--color-4);
  --heading-color: var(--color-4);
  --btn-bg: #906fc2;
  --btn-bg-hover: #6940a8;
  --btn-text: var(--text-color);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Comfortaa";
  background: var(--color-3);
  line-height: 1.5;
}

* {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comfortaa";
  color: var(--heading-color);
}

section {
  margin-bottom: 3em;
}

.btn {
  border: none;
  border-bottom: 4px solid var(--btn-bg-hover);
  border-radius: 0.5em;
  padding: 0.75em 1em;
  background-color: var(--btn-bg);
  justify-items: center;
}

.btn > * {
  color: var(--btn-text);
  vertical-align: middle;
  display: inline-block;
}

.btn svg {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--btn-bg-hover);
}

.row {
  display: flex;
}

.col-1 {
  width: 8.333333% !important;
}
.col-2 {
  width: 16.666666% !important;
}
.col-3 {
  width: 25% !important;
}
.col-4 {
  width: 33.333333% !important;
}
.col-5 {
  width: 41.666666% !important;
}
.col-6 {
  width: 50% !important;
}
.col-7 {
  width: 58.333333% !important;
}
.col-8 {
  width: 66.666666% !important;
}
.col-9 {
  width: 75% !important;
}
.col-10 {
  width: 83.333333% !important;
}
.col-11 {
  width: 91.666666% !important;
}
.col-12,
.col-full {
  width: 100% !important;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  background-color: var(--color-1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.container h1 {
  margin: 0;
}

.drink-image {
  width: 30%;
  height: 20em;
  padding: 1em;
  text-align: center;
}

.drink-image img {
  height: 100%;
}

.drink-info {
  width: 70%;
  padding: 1.5em;
}

.drink-info h2 {
  margin: 0 0 0.75em 0;
}

.drink-info p {
  margin: 0.75em 0;
}

.drink-ingredients,
.drink-prep {
  width: 50%;
}
.drink-ingredients li,
.drink-prep li {
  margin-bottom: 0.75em;
}

.review {
  margin: 0.75em 0;
  display: flex;
  /* background: yellow; */
}

.review-icon {
  width: 10em;
  margin: 1em;
}
.review-icon img {
  width: 100%;
  border-radius: 50%;
}

.review-body .review-author,
.review-body .review-text {
  display: block;
  margin: 0.5em 0;
}
.review textarea {
  width: 100%;
}

.review-body svg {
  width: 1em;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0.5em;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    display: block;
  }
  /* .drink-ingredients,
  .drink-prep {
    width: 100%;
  } */
}

.drink-form {
  text-align: right;
}
.drink-form > * {
  text-align: left;
}

.drink-form fieldset {
  margin-bottom: 0.5em;
}
.drink-form input,
.drink-form textarea,
.drink-form select {
  display: block;
  padding: 0.5em;
  width: 80%;
  border-radius: 5px;
  border: none;
  font-size: 12pt;
  background-color: #fff;
  margin: 0;
  width: calc(100% - 1em - 4px);
  border: 2px solid var(--color-3);
}

.drink-form textarea {
  resize: horizontal;
  height: 4em;
}

.form-group {
  width: 100%;
  margin-bottom: 0.5em;
}

li .form-group {
  margin: 0 0.5em;
}

li .form-group.input-quantity {
  width: 30%;
}

button:hover {
  cursor: pointer;
}

.info-fieldset {
  display: flex;
  flex-wrap: wrap;
}
.input-category {
  flex-basis: 40%;
}
.input-name {
  flex-basis: 60%;
}
.input-description {
  width: 100%;
  flex-basis: 100%;
}

button {
  color: var(--color-1);
  border: 2px solid var(--color-4);
  border-radius: 5px;
  background-color: var(--color-5);
}
button:active {
  background-color: var(--color-4);
}
.form-list {
  margin: 0;
}
.form-list li button {
  align-self: flex-end;
  display: inline-block;
  padding: 0.4em 0.5em;
}

.form-list li {
  margin-bottom: 1em;
}

.drink-form label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 11pt;
}

.form-row {
  display: flex;
}

.list-fieldset {
  text-align: center;
}
.list-fieldset > * {
  text-align: left;
}
.list-fieldset .btn-add {
  font-size: 12pt;
  padding: 0.5em 2em;
  display: inline-block;
}
.drink-form .btn-submit {
  display: inline-block;
  font-size: 12pt;
  padding: 0.5em 2em;
  margin-top: 1em;
}
