@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf")
    format("truetype");
  /* font-weight: 100 900;
    font-style: normal; */
}

:root {
  --color-1: #edeaea;
  --color-2: #23022e;
  --color-3: #8b6fb5;

  --text-color: var(--color-1);
  --bg-color-1: var(--color-2);
  --bg-color-2: #360347;
  --heading-color: var(--color-3);
  --btn-bg: #906fc2;
  --btn-bg-hover: #6940a8;
  --btn-text: var(--text-color);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Comfortaa";
  background-color: var(--bg-color-1);
}

* {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comfortaa";
  color: var(--heading-color);
}

section {
  margin-bottom: 3em;
}

.btn {
  border: none;
  border-bottom: 4px solid var(--btn-bg-hover);
  border-radius: 0.5em;
  padding: 0.75em 1em;
  background-color: var(--btn-bg);
  justify-items: center;
}

.btn > * {
  color: var(--btn-text);
  vertical-align: middle;
  display: inline-block;
}

.btn svg {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--btn-bg-hover);
}

.row {
  display: flex;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  background-color: var(--bg-color-2);
}

.drink-image {
  width: 30%;
  height: 20em;
  padding: 1em;
  text-align: center;
}

.drink-image img {
  height: 100%;
}

.drink-info {
  width: 70%;
  padding: 1.5em;
}

.drink-info h2 {
  margin: 0 0 0.75em 0;
}

.drink-info p {
  margin: 0.75em 0;
}

.drink-ingredients li,
.drink-prep li {
  margin-bottom: 0.75em;
}

.review {
  margin: 0.75em 0;
  display: flex;
  /* background: yellow; */
}

.review-icon {
  width: 10em;
  margin: 1em;
}
.review-icon img {
  width: 100%;
  border-radius: 50%;
}

.review-body strong, .review-body p {
  display: block;
  margin: 0.5em 0;
}

.review-body svg {
  width: 1em;
}
