@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}


html,body{
    font-size: 100%;
    font-family: "Comfortaa";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    text-align: center;
    width: 850px;
    height: 550px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
}
