@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-MediumItalic.ttf");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Italic.ttf");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Light.ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-LightItalic.ttf");
    font-style: italic;
    font-weight: 300;
}

:root {
    --color-1: #edeaea;
    --color-2: #765ab0;
    --color-3: #23022e;
    --color-4: #111;
    --color-5: #6c7a89;

    --star-size: 32px;
    --star-color: #3e3e3e;
    --star-background: var(--color-2);
}

* {
    font-family: 'Comfortaa', sans-serif;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--color-1);
    height: fit-content;
    line-height: 1.5;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.page-logo {
    font-size: 26pt;
    color: var(--color-1);
    padding-top: 1em;
    text-align: center;
}

.navbar,
#breadcrumb,
main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER E NAVBAR */
header {
    background-color: var(--color-2);
}

.navbar {
    display: flex;
}

.main-navbar {
    margin-right: auto;
}

.user-navbar {
    margin-left: auto;
}

.navbar ul {
    list-style-type: none;
    padding: 0.5em 0;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar ul li {
    display: inline-block;
    padding: 0.75em 0.75em 0.75em 2.5em;
    margin: 0 0.25em;
    background-repeat: no-repeat;
    background-position: 0.75em center;
}

.navbar ul li,
.navbar a {
    color: var(--color-1);
    text-decoration: none;
    border-radius: 0.5em;
    font-weight: 600;
}

.navbar li.current {
    background-color: var(--color-3);
}

#homeNav {
    background-image: url("../img/home.svg");
}

#exploreNav {
    background-image: url("../img/archive.svg");
}

#creationsNav {
    background-image: url("../img/share-2.svg");
}

#catNav {
    background-image: url("../img/grid.svg");
}

#createNav {
    background-image: url("../img/plus.svg");
}

#favsNav {
    background-image: url("../img/star-outline.svg");
}

#profileNav {
    background-image: url("../img/user.svg");
}

#logoutNav {
    background-image: url("../img/log-out.svg");
}

#loginNav {
    background-image: url("../img/log-in.svg");
}

/* GLOBAL */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-4);
}

/* PAGINA DRINK */
.row {
    display: flex;
}

.btn {
    border: none;
    border-bottom: 4px solid var(--color-3);
    border-radius: 0.5em;
    padding: 0.75em 1em;
    background-color: var(--color-2);
    justify-items: center;
    color: var(--color-1);
}

.btn:hover {
    cursor: pointer;
}

.btn>* {
    color: var(--btn-text);
    vertical-align: middle;
    display: inline-block;
}

.btn svg {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.drink-image {
    width: 30%;
    height: 20em;
    padding: 1em;
    text-align: center;
}

.drink-image img {
    width: 100%;
    height: auto;
}

.drink-info {
    width: 70%;
    padding: 1.5em;
}

.drink-info h2 {
    margin: 0 0 0.75em 0;
}

.drink-info p {
    margin: 0.75em 0;
}

.drink-ingredients,
.drink-prep {
    width: 50%;
}

.drink-ingredients li,
.drink-prep li {
    margin-bottom: 0.75em;
}


/* REVIEW */
.reviews {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.review {
    display: flex;
}

.review-icon {
    width: 10em;
    margin: 1em;
}

.review-icon img {
    width: 100%;
    border-radius: 50%;
}

.review-stars {
    --percent: calc(var(--rating) / 5 * 100%);

    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}

.review-stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.review-body .review-author,
.review-body .review-text {
    display: block;
    margin: 0.5em 0;
}

.review textarea {
    width: 100%;
}

.review-body svg {
    width: 1em;
}

/* DRINK CARD */
.drink-list {
    list-style: none;
    padding: 0;
    margin: 1rem auto 2.5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.drink-card {
    background: var(--color-5);
    border: 1px solid var(--color-4);
    border-radius: 0.5em;
    overflow: hidden;
}

.drink-card img {
    width: 100%;
}


/* HOME PAGE */


/* NUOVO DRINK */
.drink-form {
    text-align: right;
}

.drink-form>* {
    text-align: left;
}

.drink-form fieldset {
    margin-bottom: 0.5em;
}

.drink-form input,
.drink-form textarea,
.drink-form select {
    display: block;
    padding: 0.5em;
    width: 80%;
    border-radius: 5px;
    border: none;
    font-size: 12pt;
    background-color: #fff;
    margin: 0;
    width: 100%;
    border: 2px solid var(--color-4);
}

.drink-form textarea {
    resize: horizontal;
    height: 4em;
}

.form-group {
    width: 100%;
    margin-bottom: 0.5em;
}

li .form-group {
    margin: 0 0.5em;
}

li .form-group.input-quantity {
    width: 30%;
}

button:hover {
    cursor: pointer;
}

.info-fieldset {
    display: flex;
    flex-wrap: wrap;
}

.input-category {
    flex-basis: 40%;
    padding-right: 1em;
}

.input-name {
    flex-basis: 60%;
}

.input-description {
    width: 100%;
    flex-basis: 100%;
}

.drink-form button {
    color: var(--color-1);
    border: 2px solid var(--color-3);
    border-radius: 5px;
    background-color: var(--color-2);
}

.drink-form button:active {
    background-color: var(--color-3);
}

.form-list {
    margin: 0;
}

.form-list li button {
    align-self: flex-end;
    display: inline-block;
    padding: 0.4em 0.5em;
}

.form-list li {
    margin-bottom: 1em;
}

.drink-form label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 11pt;
}

.form-row {
    display: flex;
}

.list-fieldset {
    text-align: center;
}

.list-fieldset>* {
    text-align: left;
}

.list-fieldset .btn-add {
    font-size: 12pt;
    padding: 0.5em 2em;
    display: inline-block;
}

.drink-form .btn-submit {
    display: inline-block;
    font-size: 12pt;
    padding: 0.5em 2em;
    margin-top: 1em;
}