ErrorDocument 400 /dtestoli/400.html
ErrorDocument 403 /dtestoli/404.html
ErrorDocument 404 /dtestoli/404.html
ErrorDocument 500 /dtestoli/500.html
ErrorDocument 501 /dtestoli/500.html
ErrorDocument 502 /dtestoli/500.html
ErrorDocument 503 /dtestoli/500.html
ErrorDocument 504 /dtestoli/500.html
ErrorDocument 505 /dtestoli/500.html
ErrorDocument 507 /dtestoli/500.html
